<header>
    <nav class="nav navbar navbar-dark bg-dark">
        <ul class="container">
            <li class="btn btn-outline-info btn-lg">
                <a class="text-white" href="/">Home</a>
            </li>
            <li class="btn btn-outline-info btn-lg">
                <a class="text-white" href="/products">Products</a>
            </li>
            <li class="btn btn-outline-info btn-lg">
                <a class="text-white" href="/variants">Variants</a>
            </li>
            <li class="btn btn-outline-info btn-lg">
                <a class="text-white" href="/images">Images</a>
            </li>
        </ul>
    </nav>
</header>