<header>
    <nav class="nav navbar navbar-dark bg-dark">
        <ul class="container">
            <li class="btn btn-outline-info btn-lg">
                <a class="text-white" href="/">Home</a>
            </li>
            <li class="btn btn-outline-info btn-lg">
                <a class="text-white" href="/Products">Products</a>
            </li>
            <li class="btn btn-outline-info btn-lg">
                <a class="text-white" href="/Variants">Variants</a>
            </li>
            <li class="btn btn-outline-info btn-lg">
                <a class="text-white" href="/Images">Images</a>
            </li>
        </ul>
    </nav>
</header>