{% extends 'layouts/base.twig' %}

{% block main_content %}
	<h2 class="text-center">
		All Variants:
	</h2>
	<ul class="text-center">
		{% for variant in variants %}
			<li>
				{{ variant.title }}
				{{variant.price}}
				-
				<a href="/variants/{{ variant.id }}">Edit</a>
				<a href="/variants/{{ variant.id }}/delete">Delete</a>
			</li>
		{% endfor %}
	</ul>
	<div class="text-center">
		<a href="/variants/new">Create Variant</a>
	</div>
{% endblock %}
