{% extends 'layouts/base.twig' %}

{% block main_content %}
	<h2 class="text-center">
		All Products
	</h2>
	<ul class="text-center d-flex">
		{% for product in products %}
			<li>
				<img class="w-25 h-30" src="/public/images/1.png" />
				<br>
				{{ product.title }}
				{{product.price}}
				-
				<a href="/products/{{ product.id }}">Edit</a>
				<a href="/products/{{ product.id }}/delete">Delete</a>
			</li>
		{% endfor %}
	</ul>
	<div class="text-center">
		<a href="/products/new">Create New Product</a>
	</div>
{% endblock %}
